/v4l2_camera/build/CMakeFiles
/v4l2_camera/build/cmake_install.cmake
/v4l2_camera/build/CMakeCache.txt
/v4l2_camera/build/Makefile
/live555_linux/mediaServer/usb_camera/build/CMakeCache.txt
/live555_linux/mediaServer/usb_camera/build/CMakeFiles
/live555_linux/mediaServer/usb_camera/build/cmake_install.cmake
/live555_linux/.vscode
